body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 3% 3% auto 3%;
  grid-template-areas:
    "menu"
    "filtros"
    "main"
    "footer";
}
nav {
  grid-area: menu;
  background: #e60012;

  /* height: 25%; */
}

main {
  grid-area: main;
  /* padding: 3%; */
  /* display: flex;
  flex-direction: column; */
}
.productos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin-bottom: 15%; */
}
.producto {
  /* background: purple; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.card {
  max-width: 85%;
}
.producto img {
  /* asignando el tamaño al 100% del contenedor padre, se ajusta al viewport */
  width: 100%;
}

.filtros {
  grid-area: filtros;
  background: silver;
}

footer {
  grid-area: footer;
  background: #e60012;
  color: white;
}

/* Menú para escritorio  */
.menu-desktop {
  grid-area: menu-desktop;
  background: #e60012;
  font-size: 24px;
}

.menu-title {
  /* margin-top: 5%; */
  margin: 5%;
  font-size: 24px;
}

.menu-links ul {
  list-style: none; /*quita las pelotitas a la lista */
  /* padding: 10px; */
  padding: 0;
  margin: 0;
}
.menu-links ul li {
  padding: 10px;
}

@media (min-width: 576px) {
  body {
    grid-template-areas:
      "menu-desktop filtros"
      "menu-desktop main"
      "footer main";
    grid-template-columns: 20% 4fr;
    grid-template-rows: auto;
  }
  nav {
    display: none;
  }
  .menu-desktop {
    grid-area: 1 / 1 / 5 / 2;
  }

  main {
    grid-area: 2 / 2 / 6 / 6;
  }
  .productos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-left: 1%;
    margin-right: 1%;
  }

  .filtros {
    grid-area: 1 / 2 / 2 / 6;
    background: #d8d8d8;
  }
  .filtros span {
    margin-top: 1%;
  }
  .btn {
    margin-bottom: 1%;
  }
  footer {
    grid-area: 5 / 1 / 6 / 2;
    background: #d02a1e;
    color: white;
  }
}
@media (max-width: 576px) {
  .menu-desktop {
    display: none;
  }
}
